<nav id="sidebar" class="navbar bg-body-tertiary vh-100 flex-column justify-content-start">
    <div class="container-fluid justify-content-center p-1">
        <a href="" class="navbar-brand h1 fw-bold text-success mb-3" router-link="/dashboard">
            Angualar App
        </a>
    </div>
    <ul class="nav flex-column w-100 px-3">
        <li class="nav-item" [appHiddenElements]="claimReq.adminOnly">
            <a class="nav-link" routerLink="/admin-only">
                Admin only
            </a>
        </li>
        <li class="nav-item" [appHiddenElements]="claimReq.adminOrTeacher">
            <a class="nav-link" routerLink="/admin-or-teacher">
                Admin or teacher
            </a>
        </li>
        <li class="nav-item" [appHiddenElements]="claimReq.hasLibraryId">
            <a class="nav-link" routerLink="/library-member-only">
                Library member only
            </a>
        </li>
        <li class="nav-item" [appHiddenElements]="claimReq.under18">
            <a class="nav-link" routerLink="/under-18">
                Under 18 only
            </a>
        </li>
    </ul>
</nav>
<div id="main">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid px-5 py-1">
             <button class="btn btn-dark" (click)="onLogout()">Logout</button>
        </div>
    </nav>
    <div class="mt-5 p-5">
         <router-outlet/>
    </div>
</div>
